@import '../../_variables.sass'

.result-item
    border: 1px solid $colorBorder
    border-radius: 3px
    &__header 
        display: flex 
        align-items: stretch
        text-align: center
        
    &__col
        padding: 10px 20px
        
        &--left 
            width: 200px 
            border-right: 1px solid $colorBorder
        &--right
            width: calc(100% - 200px)
