
.inn-form 
    display: flex 
    align-items: center 
    justify-content: center
    flex-direction: column
    font-family: 'Roboto', sans-serif

.inn-list 
    padding: 20px
    width: 500px
    height: 200px
    font-family: 'Roboto', sans-serif

.error 
    color: red

.btn 
    margin-top: 20px