html
    box-sizing: border-box
    min-height: 100%
    font-family: 'Roboto', sans-serif

*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: inherit

.app 
    margin-top: 100px

.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
